<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.jsSPAのサンプルアプリケーション</title>
    <style>
        /*任意のCSSを記載、今回は割愛*/
    </style>
</head>

<body>
    <div id="app">
        <nav>
            <router-link to="/top">トップページ</router-link>
            <router-link to="/users">ユーザー一覧ページ</router-link>
        </nav>
        <router-view></router-view>
    </div>
    <script src="https://unpkg.com/vue@2.5.17"></script>
    <script src="https://unpkg.com/vue-router@3.0.1"></script>
    <!-- テンプレートhtml -->
    <script type="text/x-template" id="user-list">
        <div>
            <div class="loading" v-if="loading">
                読み込み中...
            </div>
            <div v-if="error" class="error">
                {{error}}
            </div>
            <div v-for="user in users" :key="user.id">
                <h2>{{user.name}}</h2>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="user-detail">
        <div>
            <div class="loading" v-if="loading">
                読み込み中...</div>
            <div v-if="error"class="error">
                {{error}}
            </div>
            <div v-if="user">
                <h2>{{user.name}}</h2>
                <p>{{user.description}}</p>
            </div>
        </div>
    </script>


    <script>

        var getUsers = function (callback) {
            setTimeout(function () {
                callback(null,[{id:1,name:'TakuyaTejima'},{id:2,name:'YoheiNoda'}])
            },1000);
        };
        var UserList = {
            template: '#user-list',
            data: function() {
                return {
                    'loading': false,
                    'users': [] ,
                    'error': null,
                }
            },
            created: function() {
                this.fetchData();
            },
            watch: {
                $route: function () {
                    this.fetchData()
                }
            },
            methods: {
                fetchData: function() {
                    this.loading = true;
                    getUsers( (function(err,users){
                        this.loading = false
                        if (err) {
                            this.error = err.toString();
                        } else {
                            this.users = users;
                        }
                    }).bind(this));
                }
            }
        };

        var router = new VueRouter({
            routes: [
                {
                    'path': '/top',
                    'component': {
                        template: '<div>トップページです</div>'
                    }
                },
                {
                    'path': '/users',
                    'component': UserList
                },
                {
                    'path': '/users/:userId',
                    'component': UserComponent,
                },
            ]
        });

        var vue = new Vue({
            'el': '#app',
            'router': router,
        });
    </script>
</body>

</html>